{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Reset completed
{% endblock title %}

{% block header %}
    Password reset completed
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col text-center">
            <p>
                Password reset completed.
                <br>
                You can login with your new password.
            </p>
            <a class="btn btn-success" href="{% url 'accounts:login' %}">Login</a>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
